<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.williamv.debtmake">

    <application
        android:name=".DebtMakeApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="DebtMake"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.DebtMake">

        <!-- 注意加上完整包名 .ui.MainActivity -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
